{
  "LanguageServerManager": {
    "language_servers": {
      "ruff": {
        "version": 2,
        "argv": ["ruff", "server"],
        "languages": ["python"],
        "mime_types": ["text/x-python"],
        "display_name": "Ruff"
      }
    }
  }
}
